body {
  padding-top: 100px;
  font-size: 18px;
}

a[rel="footnote"] {
    border-bottom: none;
    color: #008b8b;
    line-height: 0;
    font-size: 75%;
}

a[rel="footnote"]:before {
    content: "(";
}

a[rel="footnote"]:after {
    content: ")";
}

a[rev="footnote"] {
    border-bottom: none;
}

.footnote {
    color: #989898;
    font-size: 80%;
}

.scripture-reference:before {
    content: "(";
}

.scripture-reference:after {
    content: ")";
}

.scripture-reference {
    font-size: 80%;
    color: #989898;
    padding-right: 10px;
    padding-left: 10px;
}

quote:before {
    content: "\"";
}

quote:after {
    content: "\"";
}

quote {
    font-style: italic;
}
