{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To Be Free</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  </head>

  <nav id="navbar" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand" href="#">Void No Logo</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'book:index' %}" target="_blank">Home</a></li>
                <li><a href="" target="_blank">About</a></li>
                <li><a href="" target="_blank">Contact</a></li>
              </ul>
          </div>
        </div>
      </div>
  </nav>

  <body>
    <div class="container">

      <div class="row">
        {% block content %}
        {% endblock %}
      </div>

      <div class="row">
          <div class="col-xs-12">
            <hr>
              <footer>
                  <p>&copy; Copyright 2015 Void No Logo</p>
              </footer>
          </div>
      </div>

    </div>  <!-- end container --!>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
