  <nav id="navbar" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand" href="#">Void No Logo</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'book:index' %}">Home</a></li>
                <li><a href="" target="_blank">About</a></li>
                <li><a href="" target="_blank">Contact</a></li>
              </ul>
          </div>
        </div>
      </div>
  </nav>
